#google_oauth_connector-list-provider tr.google_oauth_connector-provider-disabled {
  color: #999;
}

#google_oauth_connector-list-provider td.google_oauth_connector-provider-warning {
  background-color: #fd4;
}

#google_oauth_connector-list-provider tr.google_oauth_connector-provider-disabled  td.google_oauth_connector-provider-warning {
  background-color: inherit;
}
